:root {
  --vermelho: #e50914;
  --preto: #141414;
}

/*Definindo um padrão...*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*BASE.*/
body {
  background: var(--preto);
  font-family: "Times New Roman", Times, serif;
  color: white;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black", Helvetica, sans-serif;
  font-size: 40px;
}
header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
/* Mudando a cor ao passar o mouse. Função 'hover'...*/
header nav a:hover {
  color: #fff;
}
/*FILME PRINCIPAL.*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/the-walking-dead.png");

  height: 400px;
  background-size: cover; /*A imagem pega a area de cobertura da div*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.filme-principal .descricao {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: justify;
}
.titulo {
  font-size: 35px;
  margin-left: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.titulo-2 {
  font-size: 18px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.botoes {
  margin: 5px;
  margin-top: 40px;
}
.logo-n {
  display: flex; /*Alinha elementos lado a lado*/
  align-items: center;
}
.series {
  margin-left: -13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.botao {
  background-color: rgba(0, 0, 0, 50%);
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 12px;
  margin-left: 5px;
  border-radius: 8px;

  cursor: pointer;
}
.botao:hover {
  background-color: white;
  color: rgba(0, 0, 0, 50%);
  transition: 0.3s ease-in;
}
.botao i {
  margin-right: 8px;
}
.box-filmes {
  height: 100%;
  width: 100%;
  display: block;
}
.item:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 30;
  position: -webkit-sticky;
  transition: 0.5s;
}
.iconify {
  position: absolute;
  width: 38px;
  height: 38px;
  color: var(--vermelho);
  margin-top: 10px;
}
.rodape i {
  padding: 10px;
}
/*Separando os itens*/
.rodape-texto ul {
  position: relative;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #aaa;
  font-size: 12px;
}
.rodape-texto li {
  display: block;
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
  height: 25%;
  padding: 8px;
}
li:nth-child(odd) {
  /* este css será aplicato nos LI impares (1, 3, 5... ).         */
  clear: both; /* forçamos a quebra de linha por segurança...                  */
  float: left; /* ... e o alinhamos à esquerda.                                */
  width: 50%; /* Aplicamos 50% na esquerda, os da direita "herdam" o resto.   */
}

li:nth-child(4n+2),          /* aqui pulamos de 4 em 4 itens começando do 2 ( 2, 6, ...).    */
li:nth-child(4n+3) {
  /* aqui de 4 em 4 começando do 3 ( 3, 7, ... )                  */
}
