:root {
  --vermelho: #e50914;
  --preto: #141414;
}

/*Definindo um padrão...*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*BASE.*/
body {
  background: var(--preto);
  font-family: "Times New Roman", Times, serif;
  color: white;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black", Helvetica, sans-serif;
  font-size: 40px;
}
header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
/* Mudando a cor ao passar o mouse. Função 'hover'...*/
header nav a:hover {
  color: #fff;
}
/*FILME PRINCIPAL.*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/the-walking-dead.png");

  height: 400px;
  background-size: cover; /*A imagem pega a area de cobertura da div*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.filme-principal .descricao {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: justify;
}
.titulo {
  font-size: 35px;
  margin-left: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.botoes {
  margin: 5px;
  margin-top: 40px;
}
.logo-n {
  display: flex; /*Alinha elementos lado a lado*/
  align-items: center;
}
.series {
  margin-left: -13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.botao {
  background-color: rgba(0, 0, 0, 50%);
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 12px;
  margin-left: 5px;

  cursor: pointer;
}
.botao:hover {
  background-color: white;
  color: rgba(0, 0, 0, 50%);
  transition: 0.3s ease-in;
}
.botao i {
  margin-right: 8px;
}
.box-filmes{
  height: 100%;
  width: 100%;
  display: block;
}
/*Aula 6*/
